<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruirui.mybatis3.association.BlogRepository">
    <resultMap id="blogRM_NR" type="com.ruirui.mybatis3.association.Blog" >
        <id property="id" column="id_"/>
        <result property="title" column="title_"/>
        <association property="author" resultMap="authorRM" columnPrefix="author_" notNullColumn="id_" />
    </resultMap>

    <resultMap id="authorRM" type="com.ruirui.mybatis3.association.Author">
        <id property="id" column="id_"></id>
        <result property="username" column="username_"></result>
    </resultMap>

    <select id="findAllNestedResult" resultMap="blogRM_NR">
        SELECT
          b.id_,
          b.title_,
          a.id_            AS author_id_,
          a.username_      AS author_username_
        FROM blog b LEFT JOIN author a
        ON b.author_id_ = a.id_
    </select>


    <resultMap id="blogRM_NR_NotNullColumn" type="com.ruirui.mybatis3.association.Blog" >
        <id property="id" column="id_"/>
        <result property="title" column="title_"/>
        <association property="author" resultMap="authorRM" columnPrefix="author_" notNullColumn="username_" />
    </resultMap>

    <select id="findAllNestedResultApplyNotNullColumn" resultMap="blogRM_NR_NotNullColumn">
        SELECT
        b.id_,
        b.title_,
        a.id_            AS author_id_,
        a.username_      AS author_username_
        FROM blog b LEFT JOIN author a
        ON b.author_id_ = a.id_
    </select>


    <resultMap id="blogRM_NS" type="com.ruirui.mybatis3.association.Blog">
        <id property="id" column="id_"/>
        <result property="title" column="title_"/>
        <association property="author" javaType="com.ruirui.mybatis3.association.Author"
                     column="id_" select="selectAuthorById" fetchType="eager"/>
    </resultMap>

    <select id="selectBlogByIdEager" resultMap="blogRM_NS">
        SELECT id_, title_
        FROM blog
        WHERE id_ = #{id}
    </select>
    
    <select id="selectAuthorById" resultType="com.ruirui.mybatis3.association.Author">
        SELECT id_, username_
        FROM author
        WHERE id_ = #{id}
    </select>


    <resultMap id="blogRM_NS_Lazy" type="com.ruirui.mybatis3.association.Blog">
        <id property="id" column="id_"/>
        <result property="title" column="title_"/>
        <association property="author" javaType="com.ruirui.mybatis3.association.Author"
                     column="id_" select="selectAuthorById" fetchType="lazy"/>
    </resultMap>

    <select id="selectBlogByIdLazy" resultMap="blogRM_NS_Lazy">
        SELECT id_, title_
        FROM blog
        WHERE id_ = #{id}
    </select>


    <select id="selectBlogsEager" resultMap="blogRM_NS">
        SELECT id_, title_
        FROM blog
    </select>

    <select id="selectBlogsLazy" resultMap="blogRM_NS_Lazy">
        SELECT id_, title_
        FROM blog
    </select>
</mapper>