<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="debugInterceptor" class="org.springframework.aop.interceptor.DebugInterceptor" />
    <bean id="performanceInterceptor" class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor"/>

    <bean id="personManager" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="com.ruirui.spring.aop.simple.PersonManagerImpl" />
        </property>
        <property name="interceptorNames">
            <list>
                <value>debugInterceptor</value>
                <value>performanceInterceptor</value>
            </list>
        </property>
    </bean>
</beans>